{% extends 'bootstrap/base.html' %}
{% block title %} Sandra Penno {% endblock %}
{% block content %}

<div class="container no-gutters">
    <div class="row no-gutters">
        <div class="col-md-3 bg-img-monstera">
            <span class="col-md-2 rotate_text" id="author">
                SANDRA PENNO
            </span>
            <span class="col-md-1 rotate_text" id="occupation">
                Python Developer
            </span>
        </div>
        <div class="col-md-9 bg-img-person">
            <div class="title_message">
                LET'S MEET - SHALL WE?
            </div>
        </div>
    </div>
</div>

{% endblock %}